Project/order.dtd

<!ELEMENT orders (order+)>
<!ELEMENT order (customerid,status,item+)>
<!ELEMENT customerid (#PCDATA)>
<!ELEMENT status (#PCDATA)>
<!ELEMENT item (name,price,qty)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT price (#PCDATA)>
<!ELEMENT qty (#PCDATA)>
<!ATTLIST item instock (N|Y) #REQUIRED>
<!ATTLIST item itemid ID #REQUIRED>
